@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    /* --foreground: #fff; */

    /* --popover: 0 0% 100%; */
    --popover: #444;
    --popover-foreground: #444;
    /* --popover-foreground: 222.2 84% 4.9%; */

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: #fff;
    --accent-foreground: #333;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* --background: 222.2 84% 4.9%; */
    --background: #666;
    --foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: #333;
    --accent-foreground: #999;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
body {
  font-size: 62, 5%;
  scroll-behavior: smooth;
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.type__banner {
  overflow: hidden;
  white-space: wrap;
  animation: typing 1s ease-in-out;
}

@keyframes typing {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.active__scrollX {
  transform: translateX(0px);
  transition: transform 0.5s ease 1;
  opacity: 1;
}
.active__scrollY {
  transform: translateY(0px);
  transition: transform 0.5s ease 1;
  opacity: 1;
}
.active__scale {
  transform: scale(1);
  transition: scale 0.5s ease 1;
  opacity: 1;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.image-item-large {
  grid-column: span 2;
  width: 100%;
  height: auto;
}
.image-item-largest {
  grid-column: span 3;
  width: 100%;
  height: auto;
}
.image-item-largest img {
  object-fit: cover;
}

.image-item-small img {
  width: 100%;
  height: auto;
}

.image-item-small {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */
/*  */
/* css  */

/* title */
.title_largest {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.title_large {
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.title_medium {
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.title_small {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
/* end title */
/* text */
.t_small {
  font-size: 0.95rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.t_medium {
  font-size: 1.05rem;
  font-weight: 400;
  margin-bottom: 0.75rem;
}
.t_large {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.85rem;
}
.t_largest {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
/* p */
.p_type_1 {
  font-size: 0.98rem;
  font-weight: 400;
  text-align: justify;
}
.p_type_2 {
  font-size: 0.94rem;
  font-weight: 300;
  color: #888;
  text-align: justify;
  letter-spacing: 0.1px;
  line-height: 24px;
}
/* border */
.border_div_card {
  border: 0.8px solid #c3c2c2;
  padding: 0.5rem;
  border-radius: 6px;
}
/*  flex custom */
.flex_dou {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0.75rem;
}

.table__booking td,
.table__booking th {
  text-align: center;
  border: 0.5px solid rosybrown;
  padding: 0.5rem;
  font-size: 1 rem;
}

/* loading animation css */
/* HTML: <div class="loader"></div> */
.loading {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: fixed;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.loader {
  z-index: 35;
  width: 85px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#f87171 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}
