@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    /* --foreground: #fff; */

    /* --popover: 0 0% 100%; */
    --popover: #444;
    --popover-foreground: #444;
    /* --popover-foreground: 222.2 84% 4.9%; */

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: #fff;
    --accent-foreground: #333;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* --background: 222.2 84% 4.9%; */
    --background: #666;
    --foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: #333;
    --accent-foreground: #999;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
body {
  font-size: 62, 5%;
}
.type__banner {
  overflow: hidden;
  white-space: wrap;
  animation: typing 1s ease-in-out;
}

@keyframes typing {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.active__scrollX {
  transform: translateX(0px);
  transition: transform 0.5s ease 1;
  opacity: 1;
}
.active__scrollY {
  transform: translateY(0px);
  transition: transform 0.5s ease 1;
  opacity: 1;
}
.active__scale {
  transform: scale(1);
  transition: scale 0.5s ease 1;
  opacity: 1;
}
.title_home {
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
